/* Credit for Meyer Reset 2.0 goes to: https://meyerweb.com/eric/tools/css/reset/ */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600|Roboto:400|Oswald:400,500");

/* TOP NAV */

.nav {
    align-items: center;
    background-color: #40404f;
    background-size: 100% 100%;
    display: flex;
    height: 81px;
    min-width: 1440px;
    padding: 15px 90px;
}

.logo {
    /* align-self: flex-end; */
    height: 50px;
    /* object-fit: cover; */
    width: 50px;
    margin-left: 90px;
}

.pages {
    align-items: flex-start;
    display: flex;
    height: 24px;
    margin-bottom: 1.0px;
    margin-left: 90px;
    min-width: 623px;
}

.h-1 {
    font-family: Oswald;
    letter-spacing: 0.00px;
    min-height: 24px;
    min-width: 39px;
    text-align: center;
}

.s-2 {
    font-family: Oswald;
    cursor: pointer;
    letter-spacing: 0.00px;
    margin-left: 68px;
    min-height: 24px;
    min-width: 64px;
    text-align: center;
}

.n-3 {
    font-family: Oswald;
    cursor: pointer;
    letter-spacing: 0.00px;
    margin-left: 68px;
    min-height: 24px;
    min-width: 37px;
    text-align: center;
}

.r-4 {
    font-family: Oswald;
    cursor: pointer;
    letter-spacing: 0.00px;
    margin-left: 68px;
    min-height: 24px;
    min-width: 48px;
    text-align: center;
}

.g-5 {
    font-family: Oswald;
    cursor: pointer;
    letter-spacing: 0.00px;
    margin-left: 68px;
    min-height: 24px;
    min-width: 54px;
    text-align: center;
}

.a-6 {
    font-family: Oswald;
    cursor: pointer;
    letter-spacing: 0.00px;
    margin-left: 68px;
    min-height: 24px;
    min-width: 43px;
    text-align: center;
}

/* NEWS */

:root {
    --font-family-roboto-regular: "Roboto-Regular";
    --font-family-titillium_web-semibold: "Titillium Web-SemiBold";
}

.title {
    align-self: flex-start;
    color: #000000;
    font-family: var(--font-family-titillium_web);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.00px;
    margin-left: 1px;
    min-height: 49px;
    margin-top: -3px;
}

.line-1 {
    align-self: center;
    height: 1px;
    margin-left: 1.0px;
    width: 915px;
    margin-top: -5px;
    margin-bottom: -10px;
}

.column {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    min-height: 199px;
    width: 337px;
}

.news-1 {
    align-items: flex-end;
    display: flex;
    margin-top: 30px;
    min-width: 915px;
}

.news-2 {
    align-items: flex-end;
    display: flex;
    margin-top: 40px;
    min-width: 915px;
}

.news-3 {
    align-items: flex-end;
    display: flex;
    margin-top: 40px;
    min-width: 915px;
}

.news-content {
    /* align-items: flex-end; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 974px;
    padding: 40px 262px;
    width: 1440px;
}

.news-title {
    color: #006BB6;
    font-family: var(--font-family-titillium_web);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.00px;
    margin-top: 11px;
    margin-bottom: -1px;
    letter-spacing: 0.00px;
    line-height: 1.0;
    min-height: 54px;
    width: 337px;
}

.news-date {
    color: #808080;
    font-family: var(--font-family-roboto-regular);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    margin-top: 19px;
    margin-bottom: -2px;
    min-height: 14px;
    width: 91px;
}

.news-text {
    color: #000000;
    font-family: var(--font-family-roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    margin-top: 10px;
    margin-bottom: 0px;
    min-height: 48px;
    line-height: 1.0;
    width: 337px;
}

.read-more-button {
    align-items: flex-end;
    color: #000000;
    font-family: (--font-family-titillium_web);
    text-decoration: none;
    background-color: #FDB927;
    display: flex;
    height: 45px;
    width: 335px;
    justify-content: flex-end;
    margin-top: 10px;
    min-width: 335px;
    padding: 11px 121.1px;
}

.read-more-button:hover {
    text-decoration: none;
    color: black;
    background-color: #FFCA57;
}

.pic {
    height: 200px;
    width: 540px;
}

.read-more {
    color: #000000;
    font-family: var(--font-family-titillium_web);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.00px;
    min-height: 24px;
    width: 540px;
    text-align: center;
}

.center {
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-left: 2.0px;
    margin-top: 10px;
    margin-bottom: 46px;
    min-width: 542px;
}

.see-more {
    align-items: flex-start;
    display: flex;
    height: 45px;
    min-width: 540px;
    padding: 7px 177px;
    margin-top: 21px;
    margin-bottom: 33px;
}

.see-more-button:hover {
    text-decoration: none;
    color: black;
    background-color: #FFCA57;
    cursor: pointer;
}

.see-more-button {
    color: black;
    border: 2px solid #FDB927;
    background-color: white;
    font-family: var(--font-family-titillium_web);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.00px;
    height: 45px;
    min-width: 540px;
    text-align: center;
    margin-top: 33px;
    padding: 7px 177px;
    text-decoration: none;
    width: 184px;
}

/* FOOTER */

:root {
    --black: rgba(0, 0, 0, 1);
    --font-family-titillium_web: "Titillium Web";
}

.page-footer {
    background-color: black;
}

.row {
    display: flexbox;
    justify-content: space-between;
    align-content: flex-start;
    color: rgb(128, 128, 128);
    font-family: var(--font-family-titillium_web);
    height: auto;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 50px;
}

.brand {
    display: flex;
    justify-content: left;
}

.logo-footer {
    height: 45px;
    width: 45px;
    margin-bottom: 7px;
    margin-left: 90px;
}

.team-name {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 10px;
    line-height: 1.3;
}

.social2 {
    margin-left: 90px;
    margin-top: 10px;
}

.icon {
    height: 30px;
    width: 30px;
    margin-left: 0px;
    white-space: px;
}

.icon:hover {
    text-decoration: none;
    border-radius: 50%;
    color: black;
    background-color: #FDB927;
}